@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-color: 254, 254, 254;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--font-instruments-serif: 'Instrument Serif', ui-serif, Georgia, Cambria,
		'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-color));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
